<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="https://samouraiwallet.com/static/favicon.ico" />

    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Whirlpool - Samourai Wallet</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/css/samourai.css" />
    <link rel="stylesheet" href="/css/bootstrap-dashboard.css" />
    <link rel="stylesheet" href="/css/dashboard.css" />
</head>

<body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/status/status" title="Samourai Whirlpool"><img src="/img/samourai.png"/> Whirlpool</a>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a th:class="${currentPage == 'status'} ? 'nav-link active' : 'nav-link'" href="/status/status">
                                <span data-feather="play"></span>
                                Status
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:class="${currentPage == 'history'} ? 'nav-link active' : 'nav-link'" href="/status/history">
                                <span data-feather="list"></span>
                                History
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:class="${currentPage == 'config'} ? 'nav-link active' : 'nav-link'" href="/status/config">
                                <span data-feather="settings"></span>
                                Configuration
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:class="${currentPage == 'ban'} ? 'nav-link active' : 'nav-link'" href="/status/ban">
                                <span data-feather="slash"></span>
                                Banned inputs
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-4">

                <div layout:fragment="main"></div>

            </main>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script th:src="@{/webjars/jquery/3.1.1-1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.bundle.min.js}"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace();
        $('[data-toggle="popover"]').popover();
    </script>
</body>
</html>
