<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Whirlpool - Samourai Wallet</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="https://samouraiwallet.com/static/favicon.ico" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/css/samourai.css" />
</head>
<body>
    <div class="error text-center page-middle">
        <img class="mb-4" src="/img/samourai.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Hi Samourai, Getting lost?</h1>
        <p th:text="${'Error: ' + errorMessage}"></p>
        <p class="mt-5 mb-3 text-muted">&copy; Samourai Wallet</p>
    </div>
</body>

</html>