<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{decorators/dashboard}"
      th:with="currentPage = 'history'">
<head>
    <title>History</title>
    <link rel="stylesheet" href="/css/history.css" />
</head>
<body>
    <div layout:fragment="main">
        <h1 class="h2">History</h1>

        <div class="table-responsive">
        <table class="table table-sm history">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Pool id</th>
                <th scope="col">Mix id</th>
                <th scope="col">Denomination</th>
                <th scope="col">AnonymitySet</th>
                <th scope="col">Status</th>
                <th scope="col">Fees</th>
                <th scope="col">Txid</th>
                <th scope="col">Raw</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="mix : *{mixs}">
                    <td class="created"><span th:text="${#dates.format(mix.created, 'dd-MMM-yyyy HH:mm:ss')}"/></td>
                    <td class="poolId"><pre><code th:text="${mix.poolId}"/></pre></td>
                    <td class="mixId"><pre><code th:text="${mix.mixId}"/></pre></td>
                    <td class="denomination"><pre><code th:text="${@templateUtil.satoshisToBtc(mix.denomination)}"/></pre></td>
                    <td class="anonymitySet"><span th:text="${mix.anonymitySet}" title="mustMix + liquidities"/> (<span th:text="${mix.nbMustMix}" title="mustMix"/> + <span th:text="${mix.nbLiquidities}" title="liquidities"/>)</td>
                    <td class="status"><span th:text="${mix.mixStatus}"/> <span th:text="${mix.failReason != null} ? ${'(' + mix.failReason + ')'} : ''"/></td>
                    <td class="fees">
                        <span th:text="${mix.feesAmount != null ? @templateUtil.satoshisToBtc(mix.feesAmount) : ''}"/><br/>
                        <span th:text="${mix.feesPrice != null ? '('+mix.feesPrice+'sat/B)' : ''}"/>
                    </td>
                    <td class="txid">
                        <a th:if="${mix.mixLog != null && mix.mixLog.txid != null}" th:href="${urlExplorer + mix.mixLog.txid}" target="_blank"><pre><code th:text="${mix.mixLog.txid}"/></pre></a>
                        <span th:if="${mix.mixLog == null || mix.mixLog.txid == null}">...</span>
                    </td>
                    <td class="rawTx">
                        <pre><code th:if="${mix.mixLog != null && mix.mixLog.rawTx != null}" th:text="${mix.mixLog.rawTx}"/></pre>
                        <span th:if="${mix.mixLog == null || mix.mixLog.rawTx == null}">...</span>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</body>

</html>