<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{decorators/dashboard}"
      th:with="currentPage = 'history'">
<head>
    <title>History</title>
    <link rel="stylesheet" th:href="@{/css/history.css}" />
</head>
<body>
    <div layout:fragment="main">
        <h1 class="h2">History</h1>

        <div class="table-responsive">
        <table class="table table-sm history">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Round id</th>
                <th scope="col">AnonymitySet</th>
                <th scope="col">Status</th>
                <th scope="col">Txid</th>
                <th scope="col">Raw</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="round : *{rounds}">
                    <td class="created"><span th:text="${#dates.format(round.created, 'dd-MMM-yyyy HH:mm:ss')}"/></td>
                    <td class="roundId"><pre><code th:text="${round.roundId}"/></pre></td>
                    <td class="anonymitySet"><span th:text="${round.anonymitySet}" title="mustMix + liquidities"/> (<span th:text="${round.nbMustMix}" title="mustMix"/> + <span th:text="${round.nbLiquidities}" title="liquidities"/>)</td>
                    <td class="status"><span th:text="${round.roundStatus}"/> <span th:text="${round.failReason != null} ? ${'(' + round.failReason + ')'} : ''"/></td>
                    <td class="txid">
                        <a th:if="${round.roundLog != null && round.roundLog.txid != null}" th:href="${urlExplorer + round.roundLog.txid}" target="_blank"><pre><code th:text="${round.roundLog.txid}"/></pre></a>
                        <span th:if="${round.roundLog == null || round.roundLog.txid == null}">...</span>
                    </td>
                    <td class="rawTx">
                        <pre><code th:if="${round.roundLog != null && round.roundLog.rawTx != null}" th:text="${round.roundLog.rawTx}"/></pre>
                        <span th:if="${round.roundLog == null || round.roundLog.rawTx == null}">...</span>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</body>

</html>