<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="decorators/dashboard"
      th:with="currentPage = 'status'">
<head>
    <title>Status</title>
    <meta http-equiv="refresh" content="60" />
    <link rel="stylesheet" th:href="@{/css/smartwizard.css}"/>
</head>
<body>
    <div layout:fragment="main">
        <h1 class="h2">Status</h1>

        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <div class="card-body" style="height:85px">
                        <div class="float-right" style="width:20px; height:20px">
                            <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-eclipse">
                                <path stroke="none" d="M10 50A40 40 0 0 0 90 50A40 42 0 0 1 10 50" fill="#bd4030">
                                    <animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 51;360 50 51" keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"></animateTransform>
                                </path>
                            </svg>
                        </div>
                        Current round: <span th:text="${roundId}"/>
                        Status: <span th:text="${roundStatus}" style="font-weight:bold"/><br/>
                        <div th:if="${currentStepElapsedTime != null && currentStepTimeToWait != null}">
                            Current step: <span th:text="${currentStepElapsedTime}"/>s elapsed, <span th:text="${currentStepTimeToWait}"/>s remaining
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="height:85px">
                    <div class="card-body">
                        Connected: <span th:text="${nbInputs}" style="font-weight:bold"/> (<span th:text="${nbInputsMustMix}"/> mustMix + <span th:text="${nbInputsLiquidities}"/> liquidities) / <span th:text="${targetAnonymitySet}"/><br/>
                        <span th:if="${nbLiquiditiesAvailable > 0}"><span th:text="${nbLiquiditiesAvailable}"/> more liquidities queued</span>
                    </div>
                </div>
            </div>
        </div>
        <br/>

        <div th:if="${currentStepProgress != null}" class="progress" style="height:10px">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" th:style="${'width: '+currentStepProgress+'%'}"></div>
        </div>

        <div class="sw-main sw-theme-dots">
            <ul class="nav nav-tabs step-anchor">
                <li th:each="step : *{steps}" th:class="${step.done} ? 'nav-item done' : (${step.active} ? 'nav-item active' : 'nav-item')"><a href="#" class="nav-link" th:text="${step.title}"/></li>
            </ul>
        </div>

        <br/>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Event</th>
                <th scope="col">Details</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="event : *{events}">
                    <td><span th:text="${#dates.format(event.date, 'dd-MMM-yyyy HH:mm:ss')}"/></td>
                    <td><span th:text="${event.title}"/></td>
                    <td><span th:if="${event.details != null}" th:text="${event.details}"/></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>