<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{decorators/dashboard}"
      th:with="currentPage = 'status'">
<head>
    <title>Status</title>
    <meta http-equiv="refresh" content="60" />
    <link rel="stylesheet" href="/css/smartwizard.css"/>
    <link rel="stylesheet" href="/css/status.css"/>
</head>
<body>
    <div layout:fragment="main">
        <h1 class="h2">Status
            <svg width="20px" height="20px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-eclipse">
                <path stroke="none" d="M10 50A40 40 0 0 0 90 50A40 42 0 0 1 10 50" fill="#bd4030">
                    <animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 51;360 50 51" keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"></animateTransform>
                </path>
            </svg>
        </h1>

        <table class="table">
            <thead>
                <th class="align-middle">PoolId</th>
                <th class="align-middle">Denom.<br/>(btc)</th>
                <th class="align-middle">Status</th>
                <th class="align-middle">Mix users / target<br/>(mustMix + liquidities)</th>
                <th class="align-middle">Pool queue<br/>(mustMix + liquidities)</th>
                <th class="align-middle">mustMix / min</th>
                <th class="align-middle">Elapsed time<br/>(mix)</br.></th>
                <th class="align-middle">Configuration</th>
            </thead>
            <tbody>
            <div th:each="pool,poolIter : *{pools}">
                <tr>
                <th class="align-middle" rowspan="2"><span th:text="${pool.poolId}"/></th>
                <td><span th:text="${@templateUtil.satoshisToBtc(pool.denomination)}"/></td>
                <td>
                    <span th:text="${pool.mixStatus}"/><br/>
                    <div th:if="${pool.currentStepProgress != null}" class="progress" style="height:10px">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" th:style="${'width: '+pool.currentStepProgress+'%'}"></div>
                    </div>
                    <div th:if="${pool.currentStepProgressLabel != null}" class="text-center">
                        <small><span th:text="${pool.currentStepProgressLabel}"/></small>
                    </div>
                </td>
                <td>
                    <span th:text="${pool.nbInputs}" style="font-weight:bold"/> / <span th:text="${pool.targetAnonymitySet}"/><br/>
                    (<span th:text="${pool.nbInputsMustMix}"/> + <span th:text="${pool.nbInputsLiquidities}"/>)
                </td>
                <td><span th:text="${pool.mustMixQueued}"/> + <span th:text="${pool.liquiditiesQueued}"/></td>
                <td>
                    <span th:text="${pool.nbInputsMustMix}" style="font-weight:bold"/> / <span th:text="${pool.minMustMix}"/>
                </td>
                <td><span th:text="${pool.elapsedTime/1000}"/>s</td>
                <td>
                    Pool fee: <span th:text="${@templateUtil.satoshisToBtc(pool.feeValue)}"/><br/>
                    Miner fee: <span th:text="${pool.minerFeeMin}" title="minerFeeMin"/>-<span th:text="${pool.minerFeeMax}" title="minerFeeMax"/> (cap <span th:text="${pool.minerFeeCap}" title="minerFeeMaxCap"/>)<br/>
                    AnonymitySet: <span th:text="${pool.minAnonymitySet}"/>-<span th:text="${pool.maxAnonymitySet}"/>
                </td>
                </tr>
                <tr>
                    <td colspan="6" th:id="${poolIter.index+'_details'}" style="display:none; border:none">
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="sw-main sw-theme-dots">
                                            <ul class="nav nav-tabs step-anchor">
                                                <li th:each="step : *{pool.steps}" th:class="${step.done} ? 'nav-item done' : (${step.active} ? 'nav-item active' : 'nav-item')"><a href="#" class="nav-link" th:text="${step.title}"/></li>
                                            </ul>
                                        </div>
                                        <table class="table table-borderless" style="margin:0">
                                            <tbody>
                                            <tr th:each="event : *{pool.events}">
                                                <td><span th:text="${#dates.format(event.date, 'dd-MMM-yyyy HH:mm:ss')}"/></td>
                                                <td><span th:text="${event.title}"/></td>
                                                <td><span th:if="${event.details != null}" th:text="${event.details}"/></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </div>
            </tbody>
        </table>
        <p><small>ProtocolVersion: <span th:text="${protocolVersion}" style="font-weight:bold"/></small></p>
    </div>
</body>
</html>